*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "EB Garamond", serif;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --color-background: #F6EEE3;
    --color-primary: #375fd8;
    --color-secondary: #86a1f4;
    --color-accent: #4371fe;
    --color-text: #202124;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    background-color: var(--color-background);
}

h1 {
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: var(--font-size-xl);
    background-color: var(--color-secondary);
    display: inline;
}
